@media screen and (max-width: 670px) {
  .auto__price {
    padding-left: 0;
    padding-right: 0; }
    .auto__price-item {
      padding-left: 0; } }

@media screen and (max-width: 640px) {
  .auto__data-col {
    width: 50% !important; }
    .auto__data-col:nth-of-type(1) {
      margin-bottom: 10px; }
  .contacts__messagers {
    left: 290px; }
    .contacts__messagers li {
      margin-bottom: 10px; }
      .contacts__messagers li:last-of-type {
        margin-bottom: 0; }
  .contacts__phone {
    margin-top: 60px; } }

@media screen and (max-width: 620px) {
  .we__item {
    width: 100%;
    max-width: 280px;
    height: auto !important;
    background-size: 100% auto;
    font-size: 18px;
    padding: 12px 20px; }
  .buyout__title {
    margin-bottom: 40px; }
  .buyout__table {
    padding-top: 0; }
    .buyout__table table thead td {
      padding-top: 12px;
      padding-bottom: 12px; }
    .buyout__table table tbody .fz30 {
      font-size: 22px; }
    .buyout__table table td {
      font-size: 16px;
      line-height: 18px;
      padding: 5px 5px; }
      .buyout__table table td:first-of-type {
        width: auto; }
      .buyout__table table td:nth-of-type(3) {
        display: none; } }

@media screen and (max-width: 560px) {
  .contacts__messagers {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 25px; }
  .contacts__phone {
    margin-top: 30px; } }

@media screen and (max-width: 540px) {
  .partners {
    padding-bottom: 30px; }
    .partners__text {
      font-size: 24px;
      line-height: 26px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 50px;
      padding-bottom: 35px;
      margin-bottom: 50px; }
      .partners__text p {
        padding-left: 0;
        padding-right: 0; }
        .partners__text p:after {
          margin-left: 0;
          margin-right: 0;
          margin-top: 20px;
          margin-bottom: 20px; }
      .partners__text:after {
        bottom: -27px;
        border-width: 28px 38px 0 38px; }
  .who {
    padding-bottom: 35px; }
    .who__list:before {
      top: 5px;
      bottom: 5px; }
    .who__round {
      width: 45px;
      height: 45px;
      position: relative;
      left: 3px; }
      .who__round:after {
        width: 12px;
        right: -22px; }
    .who__text {
      margin-left: 20px;
      width: -webkit-calc(100% - 45px - 20px);
      width: calc(100% - 45px - 20px);
      padding: 7px 15px;
      font-size: 20px; }
  .how__title {
    margin-left: 132px; }
  .how__list {
    padding-top: 95px;
    padding-bottom: 40px;
    min-height: 905px; }
    .how__list:before {
      width: 540px;
      background-size: 540px auto;
      left: -55px; }
  .how__item {
    margin-bottom: 20px; }
  .how__count {
    font-size: 45px;
    width: 120px;
    height: 120px;
    background-size: cover; }
  .how__content {
    height: auto;
    padding-left: 95px;
    font-size: 22px; }
  .auto__slider-item {
    height: 300px; }
  .auto__price {
    background-size: cover; }
    .auto__price .case {
      padding-left: 10px;
      padding-right: 10px; }
    .auto__price-item {
      padding-top: 12px; }
    .auto__price-desc {
      font-size: 20px;
      line-height: 24px; }
    .auto__price-num {
      font-size: 20px; }
    .auto__price-text {
      padding-left: 10px;
      font-size: 18px;
      line-height: 20px; }
  .auto__content .slick-arrow {
    top: 95px; } }

@media screen and (max-width: 520px) {
  .mobile-nav {
    width: 260px; }
    .mobile-nav__wrap {
      padding: 20px 15px; }
    .mobile-nav__logo {
      margin-bottom: 15px; }
    .mobile-nav__list a {
      font-size: 22px;
      padding: 7px 0;
      font-size: 18px; }
    .mobile-nav__phone {
      margin-bottom: 10px;
      margin-top: 0px; }
      .mobile-nav__phone img {
        width: 20px;
        height: 30px; }
      .mobile-nav__phone a {
        font-size: 20px; }
  .wrap_toggle {
    left: 260px; }
  .header_toggle {
    -webkit-transform: translateX(260px);
        -ms-transform: translateX(260px);
            transform: translateX(260px); } }

@media screen and (max-width: 450px) {
  .header__logo {
    max-width: -webkit-calc(100% - 35px - 30px);
    max-width: calc(100% - 35px - 30px);
    padding-top: 0;
    padding-left: 35px;
    padding-right: 35px; }
  .header_scroll {
    background-position: center -17px; }
  .auto__data {
    padding-left: 25px;
    padding-right: 25px; }
    .auto__data-head {
      display: block; }
    .auto__data-body {
      font-size: 18px; }
    .auto__data-num {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 15px; }
    .auto__data-textus {
      margin-left: 0;
      text-align: left; }
    .auto__data-desc {
      text-align: left; }
    .auto__data-line {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .auto__data-line span {
        width: 105px; }
      .auto__data-line .color {
        width: 15px;
        height: 15px;
        margin-right: 4px; }
        .auto__data-line .color_large {
          position: relative;
          top: -4px;
          width: -webkit-calc(100% - 105px);
          width: calc(100% - 105px); }
      .auto__data-line p {
        width: -webkit-calc(100% - 105px);
        width: calc(100% - 105px); }
    .auto__data-text {
      font-size: 18px; }
  .auto__text {
    padding-top: 0;
    margin-left: 25px;
    margin-right: 25px; }
    .auto__text p {
      font-size: 20px;
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0; }
  .auto__content .slick-arrow.slick-prev {
    left: 5px; }
  .auto__content .slick-arrow.slick-next {
    right: 5px; } }

@media screen and (max-width: 420px) {
  .main-slide__video {
    height: 600px; }
    .main-slide__video:before {
      width: 470px;
      background-size: 470px auto; }
    .main-slide__video video {
      height: 455px;
      top: -90px;
      margin-left: -280px; }
  .main-slide__content {
    padding-bottom: 35px;
    margin-top: -260px; }
  .about__title {
    font-size: 30px;
    line-height: 34px; }
  .about__count-text {
    font-size: 18px;
    line-height: 20px;
    padding-top: 12px; }
  .about__data li {
    font-size: 20px;
    padding-left: 45px; }
    .about__data li:before {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .advantages__other {
    padding-top: 25px;
    padding-bottom: 15px; }
    .advantages__other-title {
      margin-bottom: 20px; }
  .advantages__list {
    padding-left: 0;
    padding-right: 0; }
  .advantages__item {
    background-size: auto 35px;
    margin-bottom: 10px; }
    .advantages__item:last-of-type {
      background: none; }
  .faq__head {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 5px; }
  .faq__list {
    padding-left: 0;
    padding-right: 0; }
  .faq__item {
    margin-bottom: 25px; }
  .questions__title {
    margin-bottom: 25px; }
  .questions__form {
    padding-left: 0;
    padding-right: 0; }
  .auto__content .slick-arrow {
    width: 12px;
    height: 150px;
    top: 35%; }
  .footer__form-wrap {
    padding-left: 0;
    padding-right: 0; }
  .footer__toggle-head {
    height: auto;
    min-height: 60px;
    padding: 5px 22px 5px 0; }
    .footer__toggle-head:after {
      margin-right: 6px; }
  .footer__toggle-item {
    padding-left: 0;
    padding-right: 0; }
  .footer__copy {
    padding-left: 0;
    padding-right: 0; }
  .title {
    font-size: 30px;
    line-height: 32px; } }

@media screen and (max-width: 380px) {
  .auto__slider .slick-arrow {
    width: 38px;
    height: 38px;
    background-size: cover !important; }
  .auto__slider-item {
    height: 240px; }
  .auto__slider .slick-dots li {
    width: 12px;
    height: 12px; }
  .auto__slider .slick-dots button {
    width: 8px;
    height: 8px; } }
