/* Including styles files */
/* Including fonts */
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/slick-carousel/slick/slick.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700&subset=cyrillic");
@font-face {
  font-family: "EtelkaNarrowLight";
  src: url("../../fonts/EtelkaNarrowLight/EtelkaNarrowLight.otf");
  font-style: normal;
  font-weight: 400; }

/* Grid */
.case {
  position: relative;
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.no-wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  background: white; }

html, body {
  overflow-x: hidden; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

/* Form elements */
.input {
  position: relative; }
  .input__wrap {
    display: block;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    background: white;
    width: 100%;
    height: 48px;
    border: 1px solid #80aad1;
    background-color: #f3f3f3;
    padding-left: 12px;
    padding-right: 12px; }
  .input__title {
    font-size: 24px;
    color: #00a8ff;
    font-family: "EtelkaNarrowLight", sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4px;
    display: block; }

.textarea {
  position: relative; }
  .textarea__wrap {
    display: block;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    background: white;
    width: 100%;
    height: 180px;
    resize: none;
    border: 1px solid #80aad1;
    background-color: #f3f3f3;
    padding: 12px; }
  .textarea__title {
    font-size: 24px;
    color: #00a8ff;
    font-family: "EtelkaNarrowLight", sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4px;
    display: block; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase; }
  .btn_normal {
    height: 50px; }
  .btn_blue {
    color: #fff;
    background-image: linear-gradient(-21deg, #0096ff 0%, #00c0ff 100%), linear-gradient(-45deg, #fe5381 0%, #ff7384 100%); }
  .btn_radius {
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

input, .btn, .slick-slide, textarea {
  outline: none !important; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.wrap {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  left: 0;
  overflow: hidden; }
  .wrap_toggle {
    left: 400px; }

.case {
  overflow: hidden; }

.main-wrap {
  z-index: 2;
  position: relative;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  -webkit-transition: .3s;
  transition: .3s; }

.mobile-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  background-image: url("../../img/bg/nav.png");
  width: 400px;
  -webkit-transition: .3s;
  transition: .3s;
  overflow-y: auto;
  visibility: hidden; }
  .mobile-nav_toggle {
    visibility: visible; }
  .mobile-nav a {
    color: #fff; }
  .mobile-nav__wrap {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px; }
  .mobile-nav__logo {
    margin-bottom: 35px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto; }
  .mobile-nav__list li {
    width: 100%;
    border-bottom: 1px solid #4c5a85; }
    .mobile-nav__list li:last-of-type {
      border-bottom: none; }
    .mobile-nav__list li.selected a, .mobile-nav__list li:hover a {
      color: #00a2ff; }
  .mobile-nav__list a {
    display: block;
    font-size: 28px;
    font-family: "EtelkaNarrowLight", sans-serif;
    padding: 10px 25px;
    text-transform: uppercase; }
  .mobile-nav__phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #4c5a85;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 5px; }
    .mobile-nav__phone img {
      margin-right: 10px; }
    .mobile-nav__phone a {
      font-size: 32px;
      font-weight: 700; }
  .mobile-nav__address {
    font-size: 18px; }

.header {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 55px;
  min-height: 96px;
  -webkit-transition: .3s;
  transition: .3s; }
  .header_scroll {
    background: url("../../img/bg/panel.png") no-repeat center 0; }
    .header_scroll .header__logo {
      opacity: 1; }
  .header_toggle {
    -webkit-transform: translateX(400px);
        -ms-transform: translateX(400px);
            transform: translateX(400px); }
  .header__logo {
    opacity: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: .3s;
    transition: .3s; }
  .header__lang {
    width: 30px;
    height: 33px; }
    .header__lang a {
      display: block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      padding-bottom: 3px; }
    .header__lang img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 2px 2px rgba(0, 26, 77, 0.22), inset 0 0 7px 1px rgba(0, 21, 61, 0.35);
              box-shadow: 0 2px 2px rgba(0, 26, 77, 0.22), inset 0 0 7px 1px rgba(0, 21, 61, 0.35); }

.hum {
  cursor: pointer; }
  .hum span {
    display: block;
    height: 4px;
    width: 35px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: #001b4e;
    margin-bottom: 6px; }
    .hum span:last-of-type {
      margin-bottom: 0; }
    .hum span:nth-of-type(2) {
      width: 27px; }

.title {
  font-size: 36px;
  line-height: 40px;
  font-family: "EtelkaNarrowLight", sans-serif;
  color: #00b4ff;
  text-align: center;
  text-transform: uppercase; }

.main-slide {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #000; }
  .main-slide__video {
    position: relative;
    height: 800px; }
    .main-slide__video:before {
      z-index: 2;
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      content: '';
      width: 768px;
      height: 860px;
      background: url("../../img/bg/header.png") no-repeat center top;
      background-size: 768px auto; }
    .main-slide__video video {
      z-index: 1;
      height: 550px;
      position: absolute;
      left: 0;
      top: -20px;
      margin-left: -285px; }
  .main-slide__content {
    z-index: 3;
    position: relative;
    margin-top: -240px;
    padding-bottom: 50px; }
  .main-slide__title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
  .main-slide__desc {
    font-size: 32px;
    line-height: 36px;
    font-family: "EtelkaNarrowLight", sans-serif;
    color: #006dcf;
    text-transform: uppercase;
    text-align: center;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
  .main-slide__date {
    font-size: 28px;
    font-family: "EtelkaNarrowLight", sans-serif;
    color: #00347b;
    text-align: center; }
    .main-slide__date:after {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20px;
      height: 21px;
      background: url("../../img/bg/triangle-bottom.png") no-repeat center;
      background-size: cover;
      margin-top: 15px; }

.about {
  color: #fff;
  padding-top: 50px;
  background-image: url("../../img/bg/bg-1.png");
  background-color: #fff; }
  .about__title {
    margin-bottom: 45px; }
  .about__counts {
    margin-left: -10px;
    margin-right: -10px; }
  .about__count {
    width: 50%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px; }
    .about__count-num {
      width: 90px;
      height: 90px;
      -webkit-box-shadow: 0 0 31px 10px rgba(0, 186, 255, 0.35);
              box-shadow: 0 0 31px 10px rgba(0, 186, 255, 0.35);
      border: 7px solid #00ffff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: "EtelkaNarrowLight", sans-serif;
      font-size: 38px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 6px; }
    .about__count-text {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      padding-top: 15px; }
  .about__data {
    border-top: 1px solid #4e7ca2;
    padding-top: 30px; }
    .about__data:after {
      display: block;
      content: '';
      width: 130px;
      height: 130px;
      background: url("../../img/bg/triangle-shadow.png") no-repeat center;
      background-size: cover;
      margin-left: auto;
      margin-right: auto;
      margin-top: -50px;
      margin-bottom: -20px; }
    .about__data li {
      width: 100%;
      position: relative;
      padding-left: 70px;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "EtelkaNarrowLight", sans-serif; }
      .about__data li:before {
        display: block;
        content: '';
        width: 32px;
        height: 32px;
        background: url("../../img/icons/check.png") center;
        background-size: cover;
        position: absolute;
        left: 17px;
        top: -7px; }

.advantages {
  padding-top: 50px;
  background-image: linear-gradient(-13deg, #bfd1cf 0%, #eaeceb 100%); }
  .advantages__title {
    margin-bottom: 35px; }
  .advantages__list {
    padding-left: 30px;
    padding-right: 30px; }
  .advantages__item {
    background: url("../../img/bg/advantages-item.png") no-repeat center bottom;
    padding-bottom: 40px;
    margin-bottom: 30px;
    background-size: 440px 30px; }
  .advantages__icon {
    margin-bottom: 15px; }
    .advantages__icon img {
      margin-left: auto;
      margin-right: auto; }
  .advantages__text {
    font-size: 20px;
    text-align: center; }
  .advantages__other {
    position: relative;
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 60px; }
    .advantages__other:after {
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      width: 750px;
      height: 35px;
      background: url("../../img/bg/triangle-white.png") no-repeat center;
      left: 50%;
      bottom: -30px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .advantages__other-title {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      color: #006dcf;
      margin-bottom: 28px; }
  .advantages__btn {
    width: 280px; }

.partners {
  color: #fff;
  background-color: #002835;
  margin-top: 1px;
  padding-bottom: 50px; }
  .partners__text {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0066), to(#00f6ff));
    background-image: linear-gradient(to top, #ff0066 0%, #00f6ff 100%);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 120px;
    -webkit-border-radius: 0 0 20px 20px;
            border-radius: 0 0 20px 20px; }
    .partners__text:after {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -68px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 68px 68px 0 68px;
      border-color: #FF0067 transparent transparent transparent; }
    .partners__text p {
      padding-left: 60px;
      padding-right: 60px; }
      .partners__text p:after {
        content: '';
        display: block;
        margin-left: -60px;
        margin-right: -60px;
        width: auto;
        height: 1px;
        background-color: #fff;
        margin-top: 40px;
        margin-bottom: 40px; }
      .partners__text p:last-of-type:after {
        display: none; }
  .partners__calc {
    margin-bottom: 45px; }
    .partners__calc-title {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px; }
    .partners__calc-wrap {
      background-color: #fff;
      padding-top: 30px;
      padding-bottom: 20px;
      -webkit-border-radius: 20px;
              border-radius: 20px; }

.we__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 576px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px; }
  .we__item:nth-of-type(1) {
    height: 102px;
    background-image: url("../../img/bg/border-1.png"); }
  .we__item:nth-of-type(2) {
    height: 181px;
    background-image: url("../../img/bg/border-2.png"); }
  .we__item:nth-of-type(3) {
    height: 142px;
    background-image: url("../../img/bg/border-3.png"); }

.we__btn {
  margin-top: 40px;
  max-width: 280px; }

.who {
  padding-top: 50px;
  padding-bottom: 60px; }
  .who__title {
    max-width: 420px;
    color: #006dcf;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  .who__list {
    position: relative; }
    .who__list:before {
      content: '';
      position: absolute;
      top: 0;
      left: 25px;
      bottom: 0;
      display: block;
      border-left: 4px dotted #9bc4c5; }
  .who__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .who__item:last-of-type {
      margin-bottom: 0; }
    .who__item:nth-of-type(1) .who__round {
      border-color: #0044af; }
    .who__item:nth-of-type(2) .who__round {
      border-color: #00daf7; }
    .who__item:nth-of-type(3) .who__round {
      border-color: #86ead7; }
    .who__item:nth-of-type(4) .who__round {
      border-color: #01b743; }
    .who__item:nth-of-type(5) .who__round {
      border-color: #50cb27; }
    .who__item:nth-of-type(6) .who__round {
      border-color: #b2e611; }
    .who__item:nth-of-type(7) .who__round {
      border-color: #fdfc01; }
    .who__item:nth-of-type(8) .who__round {
      border-color: #ff7000; }
    .who__item:nth-of-type(9) .who__round {
      border-color: #ef100a; }
  .who__round {
    width: 53px;
    height: 53px;
    border-width: 8px;
    border-style: solid;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    background-color: #fff; }
    .who__round:after {
      display: block;
      content: '';
      width: 30px;
      position: absolute;
      right: -38px;
      top: 50%;
      margin-top: -2px;
      border-top: 4px dotted #9bc4c5; }
  .who__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    line-height: 22px;
    border: 4px dotted #9bc4c5;
    margin-left: 35px;
    padding: 10px 25px;
    width: -webkit-calc(100% - 53px - 35px);
    width: calc(100% - 53px - 35px); }

.how {
  color: #fff;
  background-color: #1a1b41;
  position: relative;
  overflow: hidden; }
  .how:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 750px;
    height: 33px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 375px 0 375px;
    border-color: #ffffff transparent transparent transparent; }
  .how .case {
    padding-top: 60px; }
  .how__title {
    color: #00d8ff;
    max-width: 320px;
    text-align: left;
    margin-left: 240px; }
  .how__list {
    position: relative;
    padding-top: 200px;
    min-height: 1230px; }
    .how__list:before {
      content: '';
      position: absolute;
      top: -100px;
      left: -15px;
      width: 768px;
      height: 1400px;
      background: url("../../img/bg/rocket.png") no-repeat center top;
      background-size: 768px auto; }
  .how__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 65px; }
  .how__count {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 50%;
    left: -15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: url("../../img/bg/count.png") no-repeat center;
    font-size: 90px;
    font-weight: 700;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .how__content {
    font-size: 30px;
    padding-left: 270px;
    height: 142px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .how__text {
    margin-bottom: 10px; }
  .how__time {
    color: #52d1ff;
    font-weight: 300;
    font-style: italic; }

.calc {
  z-index: 1;
  margin-top: -35px;
  position: relative;
  background: url("../../img/bg/bg-5.png") no-repeat center top;
  background-size: 768px auto;
  padding-top: 80px;
  padding-bottom: 30px; }
  .calc__title {
    margin-bottom: 40px; }
  .calc__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    -webkit-border-radius: 15px;
            border-radius: 15px; }

.auto {
  background-color: #161A2D; }
  .auto__slider {
    position: relative;
    font-size: 0; }
    .auto__slider-item {
      height: 425px; }
    .auto__slider .slick-arrow {
      z-index: 1;
      position: absolute;
      top: 50%;
      width: 54px;
      height: 54px;
      font-size: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      cursor: pointer; }
      .auto__slider .slick-arrow.slick-prev {
        left: 15px;
        background: url("../../img/icons/arrow-left.png"); }
      .auto__slider .slick-arrow.slick-next {
        right: 15px;
        background: url("../../img/icons/arrow-right.png"); }
    .auto__slider .slick-dots {
      position: absolute;
      bottom: 20px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .auto__slider .slick-dots li {
        font-size: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 5px;
        background-color: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        width: 16px;
        height: 16px;
        cursor: pointer; }
        .auto__slider .slick-dots li.slick-active button {
          opacity: 1; }
      .auto__slider .slick-dots button {
        font-size: 0;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: #00d8ff;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0; }
  .auto__price {
    color: #fff;
    background: url("../../img/bg/bg-6.png") no-repeat center;
    background-size: 768px auto;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "EtelkaNarrowLight", sans-serif; }
    .auto__price-item {
      width: 50%;
      padding-left: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 18px;
      padding-bottom: 12px; }
    .auto__price-desc {
      font-size: 38px;
      line-height: 38px;
      text-transform: uppercase;
      font-weight: 700; }
    .auto__price-num {
      font-size: 40px;
      color: #000;
      font-weight: 700; }
      .auto__price-num span {
        font-weight: 400; }
    .auto__price-text {
      padding-left: 22px;
      font-size: 24px; }
      .auto__price-text p {
        margin-bottom: 5px; }
        .auto__price-text p:last-of-type {
          margin-bottom: 0; }
  .auto__content {
    font-size: 0;
    position: relative; }
    .auto__content .slick-arrow {
      width: 18px;
      height: 220px;
      font-size: 0;
      position: absolute;
      top: 30%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: cover; }
      .auto__content .slick-arrow.slick-prev {
        left: 15px;
        background-image: url("../../img/icons/chevron-left.png"); }
      .auto__content .slick-arrow.slick-next {
        right: 15px;
        background-image: url("../../img/icons/chevron-right.png"); }
  .auto__content {
    font-size: 0;
    color: #fff;
    background-size: 768px auto;
    padding-bottom: 50px; }
  .auto__data {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px; }
    .auto__data-num {
      font-size: 65px;
      line-height: 50px;
      color: #30354f;
      font-weight: 700;
      font-family: "EtelkaNarrowLight", sans-serif; }
    .auto__data-textus {
      text-align: right;
      margin-left: auto; }
    .auto__data-title {
      font-size: 34px;
      line-height: 28px;
      font-weight: 700;
      font-family: "EtelkaNarrowLight", sans-serif; }
    .auto__data-desc {
      font-size: 24px;
      font-family: "EtelkaNarrowLight", sans-serif;
      text-align: right; }
    .auto__data-head {
      border-bottom: 1px solid #21294a;
      margin-bottom: 30px;
      padding-bottom: 24px; }
    .auto__data-body {
      font-size: 20px; }
    .auto__data-item {
      display: none; }
    .auto__data-col {
      text-align: left; }
      .auto__data-col:nth-of-type(1) {
        width: 60%; }
      .auto__data-col:nth-of-type(2) {
        width: 40%; }
    .auto__data-line {
      margin-bottom: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; }
      .auto__data-line:last-of-type {
        margin-bottom: 0; }
      .auto__data-line span {
        text-transform: uppercase;
        color: #05bdf7;
        width: 150px; }
      .auto__data-line p {
        width: -webkit-calc(100% - 150px);
        width: calc(100% - 150px); }
      .auto__data-line .color {
        width: 25px;
        height: 25px;
        margin-right: 8px; }
        .auto__data-line .color:last-of-type {
          margin-right: 0; }
        .auto__data-line .color_large {
          width: -webkit-calc(100% - 75px);
          width: calc(100% - 75px);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .auto__data-line .color_large .color__text {
            font-size: 20px;
            margin-right: 14px; }
          .auto__data-line .color_large .color__bg {
            width: 60px;
            height: 25px;
            background-color: #000000; }
      .auto__data-line_small span {
        width: 75px; }
      .auto__data-line_small p {
        width: -webkit-calc(100% - 75px);
        width: calc(100% - 75px); }
    .auto__data-text {
      font-size: 20px;
      text-align: left;
      margin-top: 23px; }
      .auto__data-text h4 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px; }
  .auto__text {
    color: #fff;
    border-top: 1px solid #21294a;
    margin-top: 0px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 60px; }
    .auto__text p {
      font-size: 28px;
      border-bottom: 1px solid #4e7ca2;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
      padding-top: 20px; }
      .auto__text p:last-of-type {
        color: #ffc000;
        border-bottom: none; }

.faq {
  padding-top: 50px; }
  .faq__title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    color: #006dcf;
    margin-bottom: 40px; }
  .faq__list {
    padding-left: 20px;
    padding-right: 20px; }
  .faq__item {
    margin-bottom: 35px; }
  .faq__head {
    font-size: 28px;
    color: #00a8ff;
    font-family: "EtelkaNarrowLight", sans-serif;
    margin-bottom: 15px; }
  .faq__body {
    font-size: 18px; }

.questions {
  padding-top: 30px;
  padding-bottom: 50px; }
  .questions__title {
    margin-bottom: 40px;
    color: #006dcf; }
  .questions__form {
    padding-left: 20px;
    padding-right: 20px; }

.form__input {
  margin-bottom: 18px; }

.form__textarea {
  margin-bottom: 35px; }

.form__btn {
  width: 280px; }

.buyout {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url("../../img/bg/bg-3.png"); }
  .buyout__title {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }
  .buyout__table {
    padding-top: 25px; }
    .buyout__table table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 40px; }
    .buyout__table td {
      padding-left: 29px;
      padding-right: 29px;
      text-align: center;
      font-size: 20px;
      border: 1px solid #eaeaeb;
      border-top: none; }
    .buyout__table thead td {
      background-color: #cfdbe7;
      padding-top: 8px;
      padding-bottom: 8px; }
      .buyout__table thead td:first-of-type {
        -webkit-border-radius: 20px 0 0 0;
                border-radius: 20px 0 0 0;
        border-left: none; }
      .buyout__table thead td:last-of-type {
        -webkit-border-radius: 0 20px 0 0;
                border-radius: 0 20px 0 0;
        border-right: none; }
    .buyout__table tbody {
      font-size: 18px; }
      .buyout__table tbody td {
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: 700; }
        .buyout__table tbody td:nth-of-type(1) {
          font-weight: 400;
          width: 60%;
          text-align: left; }
      .buyout__table tbody tr:nth-of-type(odd) td {
        background-color: #e9edf3; }
      .buyout__table tbody tr:nth-of-type(even) td {
        background-color: #fff; }
      .buyout__table tbody tr:last-of-type td {
        border-bottom: none; }
        .buyout__table tbody tr:last-of-type td:first-of-type {
          -webkit-border-radius: 0 0 0 20px;
                  border-radius: 0 0 0 20px;
          border-left: none; }
        .buyout__table tbody tr:last-of-type td:last-of-type {
          -webkit-border-radius: 0 0 20px 0;
                  border-radius: 0 0 20px 0;
          border-right: none; }
      .buyout__table tbody .fz30 {
        font-size: 30px; }

.footer {
  color: #fff;
  background-image: url("../../img/bg/bg-4.png"); }
  .footer a {
    color: #fff; }
  .footer__form {
    padding-top: 50px; }
    .footer__form-wrap {
      padding-left: 20px;
      padding-right: 20px; }
  .footer__title {
    margin-bottom: 40px; }
  .footer__thanks {
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto; }
  .footer__toggle, .footer__copy {
    padding-left: 15px;
    padding-right: 15px; }
  .footer__toggle-item {
    border-top: 1px solid #ffffff;
    padding-left: 15px;
    padding-right: 15px; }
  .footer__toggle-head {
    position: relative;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 35px;
    font-size: 18px;
    font-weight: 700; }
    .footer__toggle-head:before {
      display: block;
      content: '';
      width: 16px;
      height: 4px;
      background-color: #fff;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -3px;
      -webkit-transition: .3s;
      transition: .3s; }
    .footer__toggle-head:after {
      display: block;
      content: '';
      width: 4px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      right: 0px;
      margin-top: -9px;
      margin-right: 5.5px;
      -webkit-transition: .3s;
      transition: .3s; }
    .footer__toggle-head_toggle:before, .footer__toggle-head_toggle:after {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .footer__toggle-body {
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
    display: none;
    padding-right: 30px; }
    .footer__toggle-body p {
      margin-bottom: 20px; }
      .footer__toggle-body p:last-of-type {
        margin-bottom: 0; }
  .footer__copy {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
    font-weight: 300;
    padding-bottom: 30px; }
    .footer__copy p {
      margin-bottom: 20px; }
      .footer__copy p:last-of-type {
        margin-bottom: 0; }

.contacts {
  padding-top: 50px;
  position: relative; }
  .contacts__data {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px; }
  .contacts__title {
    margin-bottom: 40px; }
  .contacts__text {
    max-width: 300px;
    font-size: 18px; }
    .contacts__text p {
      margin-bottom: 25px; }
    .contacts__text h3 {
      font-size: 18px;
      margin-bottom: 5px; }
  .contacts__phone {
    margin-top: 45px; }
    .contacts__phone-title {
      font-size: 18px;
      margin-bottom: 10px; }
    .contacts__phone-text {
      font-size: 33px;
      font-weight: 700; }
  .contacts__messagers {
    position: absolute;
    left: 380px;
    bottom: 40px;
    width: 230px; }
    .contacts__messagers li {
      width: 100%;
      margin-bottom: 20px; }
      .contacts__messagers li:last-of-type {
        margin-bottom: 0; }

.color-green {
  color: #5fe100; }

.color-blue {
  color: #0060ca; }

.hidden-lg {
  display: none; }
